
#works {
    margin: 1rem auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.cards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}
.worksDesc {
    font-weight: 300;
    font-size: 1rem;
}
.card-body {
    font-weight: 200;
}
.card-container {
    flex-direction: row;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    margin-top:2rem ;
    border-radius: 0.5rem;
    margin-right: 1.75rem;
}
.image-container img{
    object-fit: cover;
    overflow: hidden;
    height: 200px;
}
.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.card-content{
    margin: 1rem;
    margin-top: 0.3rem;
}
h3,p {
    margin: 0;
    padding: 0;
}
.card-title {
    margin-bottom: 0.5rem;
}
.BTN{
    display: flex;
    justify-content: center;
    
}
.BTN button {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom:0.5rem;
    border-radius: 0.2rem;
}
.BTN button:hover {
    background: rgba(27,156, 252, 0.1);
    color: white;
}